/*Color palette*/
:root {
  --bg: #0f1512;
  --surface: #203b2c;

  --text: #e6f4ea;
  --muted: #9fb5a3;

  --accent: #16a34a;       /* main green */
  --accent-dark: #38b968;  /* darker hover/active */
}

/*Content Class Selector Styles*/
.content {
    max-width: 850px;
    padding: 0px 50px 0px 50px;
    width: min(90%, 1200px);
    margin: 0 auto;

    flex: 1;
}

.content h1, .content h2, .content h3 {
    color: var(--text);
    font-family: 'Space Grotesk', sans-serif;
}

.content p {
    color: var(--muted);
}


/*Link Flair+Hover*/
a {
    color: var(--accent);
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    transition: opacity 0.2s ease, color 0.2s ease, transform 0.1s ease;
}

a:hover {
    color: var(--accent-dark);
    text-decoration: underline;
    opacity: 0.7;
    transform: translateY(-1px);
}

/*Random Tag-Specific Stuff*/
p {
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    color: var(--muted)
}

q {
    color: var(--text);
    font-family: 'Space Grotesk', sans-serif;
}

ul {
    color: var(--muted)
}

img {
    width: 100;
    height: 150;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: var(--bg);
    line-height: 1.6;
    color: #111;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*Site Header Styling*/
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--surface);
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-header .logo {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--text);
    font-weight: bold;
    font-size: 1.2rem;

    text-decoration: none;
    opacity: 1.0;
}

.site-header .logo:hover {
    color: var(--text);
    opacity: 1.0;
    transform: translateY(0px);
}

nav {
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 1.2rem;
}


/*Site Footer Styling*/
.site-footer {
    text-align: center;
    padding: 1rem 1rem;
    margin-top: 4rem;
    width: 100%;

    color: var(--muted);
    background-color: var(--surface);
    font-size: 16px;

    border-top: 1px solid rgba(255, 255, 255, 0.08)
}


/*Project Display Styles ("Game Card")*/
.game-card {
    background: var(--surface);
    padding: 1.5rem;
    border-radius: 10px;

    border: 1px solid rgba(255,255,255,0.05);
    margin-bottom: 2rem;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/*Reverse Game Card*/
.card-reverse .card-title {
    text-align: right;
}

.card-reverse .card-img {
    order: 2;
}

.card-reverse .card-text {
    order: 1;
}

.game-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.card-body {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.card-text {
    flex: 1;
    order: 1;
}

.card-title {
    margin: 0 0 0.5rem;
    text-align: left;
    color: var(--text);
}

.card-desc {
  color: var(--muted);
  margin-bottom: 1rem;
}

.card-link {
  color: var(--accent);
  text-decoration: none;
}

.card-img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

/*Fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Grotesk Space', sans-serif;
    color: var(--text);
}

/*Project Page Gallery*/
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#main-image {
    width: 100%;
    width: 800px;
    height: 450px;

    object-fit: contain;

    background: #0b0f0d;
    border-radius: 10px;
}

.gallery img {
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
}

.gallery-btn {
    background: var(--surface);
    color: var(--accent);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 8px;
}

.gallery-btn:hover {
    background: var(--accent);
    color: var(--bg);
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.thumbnails img {
    width: 120px;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.7;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.thumbnails img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/*Itch.io Button Link*/
.itch-button {
    display: inline-block;
    background: #fa5c5c;
    color: white;
    text-decoration: none;

    padding: 0.8rem 1.5rem;
    border-radius: 8px;

    font-weight: bold;
    font-size: 1rem;

    transition: background 0.2s ease, transform 0.15s ease;
}

.itch-button:hover {
    background: #e14b4b;
    transform: translateY(-2px);
}

/*Mobile Specifications (or if window gets too narrow*/
@media (max-width: 600px) {
    .card-body {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
    
    .card-title,
    .card-reverse .card-title {
        text-align: left;
        margin-left: 0;
        max-width: 100%;
    }

    .card-img,
    .card-text,
    .card-reverse .card-img,
    .card-reverse .card-text {
        order: unset;
        width: 100%;
    }


    /*Game Page Gallery*/

    .gallery-btn {
        font-size: 1.5rem;
        padding: 0.75rem;
    }

    .gallery .main-image {
        width: 100%;
        max-width: 300px;
        max-height: 200px;
    }

    .thumbnails img {
        width: 80px;
    }
}